.header__lang-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  font-family: 'Inter', Arial, sans-serif;
  text-align: right;
  text-decoration: none;
  margin: 0;
}
.header__lang-link:last-child {
  margin-left: 18px;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
  }
}
