.page {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  background: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}