.photo-grid {
  margin: 88px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    margin-bottom: 92px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 24px 69px;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(6, 1fr);
    max-height: min-content;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 64px 16px 0;
    grid-template-columns: 288px;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}

