.place__image {
  width: 100%;
  grid-row: 2;
  grid-column: 1;
}
@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
}
@media screen and (max-width: 430px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
    grid-row: 3;
    grid-column: 1;
    margin-right: 0;
  }
}
