.lead {
  display: flex;
  flex-direction: column;
  margin: 56px auto 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    margin: 48px 0 0;
    max-width: 100vw;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    margin: 48px 0 0;
  }
}


