.footer__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  margin-right: 18px;
  color:#FFFFFF;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__link:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 320px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 100%;
  }
}