.lead__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  align-self: center;
  max-width: 720px;
}
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    max-width: 288px;
    line-height: 110%;
  }
}