.lead__image {
  max-width: 100%;
  max-height: 615px;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100vw;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
