.lead__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  margin: 32px auto 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  align-self: center;
  max-width: 640px;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    width: 100%;
    line-height: 125%;
    margin: 16px auto 0;
  }
}

