.cover {
  min-width: 320px;
  max-width: 1280px;
  margin: 92px 48px 0;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}


