.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 6px auto 0;
}
@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}

