.cover__title {
  max-width: 560px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  margin: 0 0 32px;
}
@media screen and (max-width: 520px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin: 0 0 16px;
  }
}