.footer {
  margin: 80px 48px 0;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer {
    margin: 88px 24px 0;
    padding-bottom: 24px;
    max-width: calc(100vw - 48px);
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin: 64px 16px 0;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}