.footer {
  max-width: 1184px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .footer {
    max-width: 288px;
    padding-top: 64px;
    flex-direction: column;
    align-items: start;
    margin-left: 16px;
  }
}