.place__url-heading {
  color: #AAAAAA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
}
@media screen and (max-width: 320px) {
  .place__url-heading {
    margin: 0 0 12px;
  }
}