.place__website {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (max-width: 450px) {
  .place__website {
    justify-content: start;
    grid-row: 2/2;
    grid-column: 1/1;
    margin-left: 16px;
    min-height: 46px;
  }
}
